/*THis is not used can be removed*/
.main {
    display: flex;
    flex-direction: column;
    background: black;
    width: 100%;
}
.backgroundImage  {
    background-image: url("/multi-step-form/images/bg-sidebar-desktop.svg");
    background-size: cover;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 10px;
}
.stepContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}
.circle {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    cursor: pointer
}
.stepInfo {
    display: flex;
    flex-direction: column;
}
.subtitle{
    color: #ABBCFF;
    font-family: Ubuntu;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.title{
    color: #FFF;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}
@media (max-width: 700px) {
    .backgroundImage {
        background-image: url("/images/bg-sidebar-mobile.svg");
        display: flex;
        flex-direction: row;
        border-radius: 0px;
        justify-content: center;
        align-items: self-start;
        gap:8px;
    }
    .stepInfo {
        display: none;
    }
}
