.text {
    text-align: right;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.highlighted {
   color: #022959;
}
.content {
   width: 450px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #F8F9FF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
    color: #9699AA;
}